# Build output
bin/
obj/

# .NET Core
*.db
*.suo
*.user
*.userosscache
*.sln.docstates

# Visual Studio
.vs/
.vscode/

# Test screenshots
Test/
log/

# Logs
*.log

# NuGet packages
packages/
*.nupkg

# OS files
Thumbs.db
.DS_Store

# Build artifacts
*.dll
*.exe
*.pdb
